@import "tailwindcss";

@theme {
  /* colors */
  --color-tms-blue: #0078bb;
  --color-tms-purple: #4d1592;
  --color-tms-pink: #ea73e7;
  --color-dark-grey: #828282;
  --color-dark-alter: #00081b;
  --color-light-grey: #d8d8d8;
  --color-tms-light-blue: #edf9ff;
  --color-tms-black: #000;
  --color-gradient-btn-nav: linear-gradient(
    258deg,
    #ea73e7 -79.01%,
    #4d1592 50%
  );
  --color-tms-gradient: linear-gradient(249deg, #4d1592 13.95%, #0078bb 80.04%);

  /* Border Radius */
  --radius-sm: 8px;
  --radius-md: 10px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-2xl: 20px;

  /*  LineHeight */
  --leading-1: 52px;
  --leading-2: 46px;
  --leading-3: 32px;
  --leading-4: 26px;
  --leading-5: 24px;
  --leading-6: 18px;

  /* Font sizes */
  --text-2xl: 25px;
  /* Font Family */
  --font-duabi: "Dubai", sans-serif;
  --font-bolder: 800;

  /* Breakpoints */
  --breakpoint-sm: 641px;
  --breakpoint-md: 769px;
  --breakpoint-lg: 1025px;
  --breakpoint-xl: 1281px;
  --breakpoint-2xl: 1538px;
  --breakpoint-3xl: 1700px;
}

/* Global Styles */

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  button {
    font-family: inherit;
    outline: none;
    border: none;
    font-size: inherit;
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

html,
body {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
  color: #000;
}

ul {
  list-style: none;
}

.section-container {
  @apply md:min-h-[100vh] flex items-center py-8 md:py-12 lg:py-16 xl:py-20 w-full;
}
.section-wrapper {
  @apply px-5 sm:px-8 md:px-10 lg:px-16 xl:px-20 2xl:px-24;
}
.wrapper-nav {
  @apply px-5 2xl:px-10;
}

.nav-links {
  @apply text-sm font-bold leading-5;
}

/* Gradients */
.buttonGradient {
  background: linear-gradient(258deg, #ea73e7 -79.01%, #4d1592 50%);
  border-color: linear-gradient(258deg, #ea73e7 -79.01%, #4d1592 50%);
}
.buttonGradient-2 {
  background: linear-gradient(249deg, #4d1592 13.95%, #0078bb 80.04%);
  border-color: linear-gradient(249deg, #4d1592 13.95%, #0078bb 80.04%);
}

.CardGraient {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
}

/*  */
/* .buttonGradient-2:hover {
  background: transparent;
} */
.home-banner-gradient {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(180deg, rgba(0, 0, 0, 0) -23.33%, #000 88.47%);
}

.home-banner-section {
  height: calc(100vh - 106px);
  overflow: hidden;
}
.home-title-2 span {
  font-weight: 800;
}
/* Headings */
.main-heading {
  @apply text-2xl md:text-3xl lg:text-4xl xl:text-5xl;
}
.main-heading-2 {
  @apply text-tms-blue  text-2xl md:text-3xl lg:text-4xl xl:text-[40px] font-bold leading-3 lg:leading-2;
}
.sub_heading-1 {
  @apply text-dark-alter text-lg md:text-xl lg:text-2xl font-bold leading-3;
}
.home-about-heading span {
  @apply text-tms-purple;
}

/* Descriptions */
.description {
  @apply text-sm md:text-base  leading-5;
}
.descriptionWithList ul {
  @apply space-y-4;
}
.descriptionWithList2 ul {
  @apply space-y-3;
}
.descriptionWithList ul li {
  background-image: url("../assets//shared/check-circle_blue.svg");
  background-repeat: no-repeat;
  background-position: left 4px;
  background-size: 20px;
  padding-left: 30px;
}
.descriptionWithList2 ul li {
  background-image: url("../assets//shared/check-circle_blue.svg");
  background-repeat: no-repeat;
  background-position: left 4px;
  background-size: 20px;
  padding-left: 30px;
  color: #fff;
  line-height: 24px;
}
.descriptionWithList2 h3 {
  @apply mt-6 lg:mt-8 text-xl md:text-2xl font-bold leading-3 text-white mb-3;
}
.overlay-description {
  @apply text-white text-base md:text-lg lg:text-xl font-bold leading-5 absolute bottom-4 md:bottom-6  left-6 lg:left-8 z-20;
}

/* Countdown */
.countdown-box {
  @apply flex flex-col items-center gap-y-1 md:gap-y-2.5 rounded-sm bg-white/[0.05] px-5  py-3 md:py-4 min-w-[80px] md:min-w-[100px];
}
.countdown-box p {
  @apply text-lg md:text-xl lg:text-2xl font-bold leading-3;
}
.countdown-box span {
  @apply text-xs sm:text-sm uppercase leading-6;
}

@media (min-width: 2000px) {
  .section-wrapper {
    max-width: 1900px;
    margin: 0 auto;
  }
}
