@import "tailwindcss";

@theme {
  /* colors */
  --color-tms-blue: #0078bb;
  --color-tms-purple: #4d1592;
  --color-tns-pink: #ea73e7;
  --color-dark-grey: #828282;
  --color-dark-alter:#00081B;
  --color-gradient-btn-nav: linear-gradient(
    258deg,
    #ea73e7 -79.01%,
    #4d1592 50%
  );
  --color-tms-gradient: linear-gradient(249deg, #4d1592 13.95%, #0078bb 80.04%);

  /* Border Radius */
  --radius-sm: 8px;

  /*  LineHeight */
  --leading- : 52px
  --line-height:46px;
  -- leading-:32px
  --leading- :26px
  --leading-1: 24px;
  --leading-2: 18px;

  /* Font sizes */
  --text-2xl: 25px;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

button {
  font-family: inherit;
  outline: none;
  border: none;
  background-color: inherit;
  font-size: inherit;
  cursor: pointer;
}
.section-wrapper {
  @apply px-24;
}
.wrapper-nav {
  @apply px-10;
}
